{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Sky Above Us</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#news">News</a>
                </li>
                <li>
                    <a href="#features">Features</a>
                </li>
                <li>
                    <a href="#planets">Planets</a>
                </li>
                <li>
                    <a href="#contacts">Contact us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container feature-page">

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <h1>{{ channelName }} Videos</h1>
            <!-- Author -->
            <p>
                by Fuksai
            </p>

            <hr>

            {% for videos in video %}
                <iframe  src= {{ videos.path }} frameborder="0" allowfullscreen></iframe>
            {% endfor %}


        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well sideSearch">
                <h4>Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                </div>
                <!-- /.input-group -->
            </div>
            <div class="well">
                <h4>Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            {% for planetlist in planetsList %}
                            <li><a href="{{ path('show_videos_by_name', {'planetName': planetlist.name}) }}" class="portfolio-box">{{ planetlist.name }}</a>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy;Sky Above Us</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>

        </div>
        {% endblock %}

