{% extends 'planet/base_planet.html.twig' %}
{% block body %}
    <div class="container" id="planet-list" xmlns="http://www.w3.org/1999/html">
    {% for planet in planets %}
        <div class="row well">
        <div class="col-md-12">
            <h2>{{ planet.name }}</h2>
            <p style="font-style: italic;" class="col-md-12">There are three ways to learn about this planet!</p>
            <div class="col-md-4 list-space">
            <p>You can read new articles about it! </br>
                <a href="{{ path('planet_articles', {'planet': planet.name, 'number': 1}) }}" >Articles</a>
            </p>
        </div>
        <div class="col-md-4 list-space">
            <p>You can watch videos about this planet!</br>
                <a href="{{ path('view_videos_by_name', {planetName: planet.name, currentPage: 1})}}">Videos</a>
            </p>
        </div>
        <div class="col-md-4 list-space">
            <p>You can read basic information about this planet!
                <a href="{{ path('show_planet', {planetName: planet.name}) }}">Basic knowledge</a></p>
        </div>
            </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}
