New awesome articles have appeared on our website! Check it out. {{ link }}

The titles are:
{% for title in titles %}
{{ title }}
{% endfor %}

If you want to stop getting notification messages, click the following link: {{ unsubscribePath }}

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">&copy; 2016 SkyAboveUs.</p>
            </div>
        </div>
    </div>
</footer>
