{% extends 'picture/base_picture.html.twig' %}

{% block body %}

    <div class="container feature-page">
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-12">

                <ul type="square">

                {% for picture in pictures %}
                <div class="container apod">
                    <div class="row">
                        <section class="col-md-12">
                            <div class="container-inner">
                                <div class="picture-header col-md-2">
                                    2016.11.13
                                    </div>
                                <a href="#">
                                <div class="image-container col-md-10">
                                    <div class="col-md-4 picture-text">
                                        <h2><i class="fa fa-camera" aria-hidden="true"></i>
                                            {{ picture.title }}
                                        </h2>
                                        <p class="picture-date">{{ picture.getDateInString }}</p>
                                    </div>
                                    <div class="col-md-8 picture-image ">
                                        <img class="img-responsive" src="{{ picture.url }}">
                                    </div>
                                </div>
                                    </a>
                        </section>
                    </div>
                </div>
                {% endfor %}

                </ul>


            </div>

        </div>
        <!-- /.row -->
        <br>
        <br>
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy;Sky Above Us</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
{% endblock %}

