{% extends 'services/base_service.html.twig' %}

{% block body %}
<table>
{% for planet in planets %}
    <tr>
        <td>{{ planet.getObject() }}</td>
        <td>{{ planet.getRise() }}</td>
        <td>{{ planet.getFall() }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
