.header #welcome {
    background-image: url('../img/headers/header.jpg');
}

.homepage-background {
    background-image: url('../img/headers/header.jpg');
}

.btn-space {
    margin-bottom: -50px;
}

h3 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 27px;
}

#home-header {
    margin-bottom: 200px;
    text-transform: none;
    font-size: 100px;
    font-family: 'Corben', Georgia, Times, serif;
    text-shadow: 4px 4px 4px #aaa;
}

.section-heading{
    font-family: 'Bitstream Charter', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 60px;
}

#container_services {
    background-color: #e0e0d1
;
}

.sideSearch {
    margin-top: 80px;
}
.videoSideSearch {
    margin-top: 0px;
}
.news-img {
    height:150px !important;
    width:auto;
}
#news-bar {
    margin:0 10% 0 10%;
}
#planets {
    margin-top: 80px;
    margin-bottom: 40px;
}
#planet-list {
    margin-top: 100px;
}
#planet-list a {
    text-decoration: none;
    color: #0b0b0b;
    font-size: 16px;
}
.logo {
    float: left;
    height: 70px;
    width: auto;
    margin-left: -15px;
}
.logo:hover {
    cursor: pointer;
}
#article {
    padding-left: 0px;
    padding-right: 0px;
}
.event {
    margin-bottom: 0px;
    text-align: center;
}
.whats-new {
    padding:10px;
    height: 50%;
}

.closestEvent {
    color: white;
}
.video-wrap h4 {
    font-weight: 800;
}
.event-title {
    font-size: 15px;
    font-weight: 800!important;
    font-falimy: sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 10px;
}

.event p {
    font-style: italic;
    font-family: sans-serif;
    font-size: 16px;
}
.video-text {
    font-family: serif;
    padding:10px;
}

.button a {
    border: solid transparent 0px;
    color: #F3F3F3;
}
.button {
    border-radius: 0;
    background: rgba(28, 28, 28, 1);
    text-align: center;
    padding: 10px 20px;
}
.button a:hover {
    text-decoration: none;
    color: #66afe9;
}
.home-news h3 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.news-planets {
    padding-top: 30px;
}
.news-planets a {
    color: #777;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.list-group .active {
    color: #000000;
}
.list-group .active:hover {
    color: #000000;
}

header.intro-header.news {
    background-image:url(../img/headers/news-header.jpg);
}
header.intro-header.event {
    background-image:url(../img/headers/event-header.jpg);
}
header.intro-header.iss {
    background-image:url(../img/headers/iss-header.jpg);
}
header.intro-header.videos {
    background-image:url(../img/headers/video-header.jpg);
}
header.intro-header.potd {
    background-image:url(../img/headers/potd-header.jpg);
}
header.intro-header.planet {
    background-image:url(../img/headers/planet-header.jpg);
}
body img:hover {
    cursor: pointer;
}
.paragraph-tab {
    margin-left: 50px;
}
.back-button {
    border-radius:7%;
    border: 1px solid #00A5E3;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
}
.back-button:hover {
    text-decoration: none;
    color: #F3F3F3;
    background-color: #00A5E3;
}
#map {
    height: 400px;
    width: 100%;
}
