.header #main {
    background-image: url('../img/headers/header.jpg');
}

.btn-space {
    margin-bottom: -50px;
}

h3 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 27px;
}

#home-header {
    margin-bottom: 200px;
    text-transform: none;
    font-size: 100px;
    font-family: 'Corben', Georgia, Times, serif;
    text-shadow: 4px 4px 4px #aaa;
}

.section-heading{
    font-family: 'Bitstream Charter', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 60px;
}

#container_services {
    background-color: #e0e0d1
;
}

.feature-page {
    margin-top: 100px;
}
.sideSearch {
    margin-top: 80px;
}
.videoSideSearch {
    margin-top: 0px;
}
.news-img {
    height:150px !important;
    width:auto;
}
#news-bar {
    margin:0 10% 0 10%;
}
#planets {
    margin-top: 80px;
    margin-bottom: 40px;
}
