/* news in homepage */
.carousel {
    height: 50%;
}

.carousel-caption {
    height: 400px;
}

.carousel .item,
.carousel .item.active,
.carousel .carousel-inner {
    height: 100%;
}

.carousel .fill {
    width: 100%;
    height: 100%;
    position: center;
    background-attachment: fixed;
    background-size: cover;
}

.carousel-caption h2 {
    font-family: 'Bevan', cursive;
    text-shadow: 4px 4px 4px #000;
    font-size: 35px;

    background-color: black;
    color: #fff;
    padding: 0.5rem;

    /* Needs prefixing */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.carousel-indicators {
    font-size: 100px;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
    .carousel-caption h2 {
        font-size: 25px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
    .carousel .carousel {
        height: 70%;
    }

    .carousel-indicators {
        font-size: 50px;
    }
}

@media(max-width:480px) {
    #caption {
        height: 250px;
    }
    .carousel-caption h2 {
        font-size: 20px;
    }
}

/* planet related articles */
#planetArticle .carousel-control {
    padding-top:10%;
    width:5%;
}

#planetArticle .carousel-control .icon-prev,
.carousel-control .icon-next {
    font-size: 50px;
}

#planetArticle .carousel-indicators {
    font-size: 100px;
    top: 200px;
}

/* articles in news page */
#article-title {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #000 ;
}

#article-header {
    background: #f5f5f5;
}

#article-header h1 {
    color: #000;
    margin: auto;
}

/* all news pages */
.page-title {
    font-size: 60px;
}
