{% extends 'services/base_service.html.twig' %}

{% block body %}

    <div class="container feature-page">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div style="text-align: center;" class="col-md-12">
                <h3>You can subscribe to the newest articles, videos and events for the planet of your choosing!</h3>

                <!-- Blog Post -->

                <h3 style="font-style: italic;">Enter your e-mail:</h3>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

            </div>

        </div>
        <!-- /.row -->
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <p class="copyright text-muted">&copy; 2016 SkyAboveUs.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}
