{{ errorMsg }} <br>
<a href="{{ path('show_subscribe_form') }}">Go back</a>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">Copyright &copy; 2016 SkyAboveUs.</p>
            </div>
        </div>
    </div>
</footer>
